#bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-image: url("assets/thumb-1920-1093974.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.btn {
  background-color: #1db954;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.track {
  font-size: 20px;
  margin-bottom: 20px;
}

.explanation {
  margin-top: 310px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  width: 600px;
  max-width: calc(100% - (140px + 0.5rem));
}

.boxGenre {
  display: flex;
}

select {
  border: none;
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 0px 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

select:focus {
  outline: none;
}

select option {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

select option:hover {
  background-color: #282828;
}

select option:checked {
  background-color: #282828;
}

/* CSS for screens smaller than 600px */
@media (max-width: 600px) {
  #bg-image {
    margin-bottom: -50px;
  }

  .container {
    margin-top: 20px;
  }

  .track {
    font-size: 16px;
  }

  /* .explanation {
    margin-top: 150px;
    font-size: 10px;
    width: 90%; 
  } */

  select {
    font-size: 12px;
  }

  select option {
    padding: 10px 20px;
    font-size: 12px;
  }
}

audio {
  position: fixed;
  left: 14px;
  bottom: 10px;
  width: calc(100% - 20px);
}

.record-container {
  display: inline-block;
  overflow: hidden;
  width: 400px;
  height: 355px;
  border-radius: 10px;
  box-shadow: 6px 6px 6px 6px rgb(255 255 255 / 8%);
  backdrop-filter: blur(4px) !important;
  background: rgba(255, 255, 255, 0.08) !important;
}
.record {
  position: relative;
  margin: 19px auto;
  width: 262px;
  height: 262px;
  border-radius: 50%;
  background: linear-gradient(
        30deg,
        transparent 40%,
        rgba(42, 41, 40, 0.85) 40%
      )
      no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%)
      no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
  animation: spin 3s linear infinite;
}

.record-container {
  animation-name: floating;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.record:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px;
  border: solid 1px #ffffff;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #1db954, inset 0 0 0 27px #1db954;
  background: #ffffff;
  content: "";
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.record.playing {
  animation: spin 7s linear infinite;
}

.record:not(.playing) {
  animation: none;
}

span {
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 9px;
  position: absolute;
  transform: translate(126.5px, 121px) rotate(var(--rot)) translate(0, -85px);
}


@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}



/* Styles for mobile devices */
@media (max-width: 600px) {
  audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
  }

  .record-container {
    width: 100%;
    height: 400px;
    border-radius: 0;
    box-shadow: none;
    background: transparent !important;
  }

  .record {
    width: 80vw;
    height: 80vw;
    margin: 5vw auto;
  }
  span {
    transform: translate(147.5px, 141px) rotate(var(--rot)) translate(0, -86px);
  }
}

